<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>

<body>
    <table width="550px" align="center" border="0" cellpadding="0" cellspacing="0">
        <tbody>
            <tr>
                <td>&nbsp;</td>
            </tr>
        </tbody>
        <tbody>
            <tr height="40px" style="background: rgba(236, 72, 153, .4); color: white;">
                <td width="50px;"></td>
                <td width="450px;" align="center" style="font-size: 20px; font-weight: bold;">{{title}}</td>
                <td width="50px;"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="3"
                    style="border: 1px solid #c1c1c1; padding: 20px 20px 10px 20px; font-size: 14px; line-height: 18px; color: dimgrey;">
                    <p>Hola {{name}},</p>
                    <p>Esperamos puedas encontrar las mejores actividades para pasar tus dias y disfrutar a pleno.
                        Encontraras eventos con sus dias, fechas y horas para que no puedas perderte nada.
                        Disfruta cada dia!</p>
                    <p align="center">
                        <a style="display: block; text-align: center; padding: 5px; border: solid 2px #ddd; font-size: 16px; font-weight: bolder; color: #fff; text-decoration: none; background: rgb(221, 93, 158); width: 162px; margin-top: 27px"
                            target="_blank" href="https://eventry-one.vercel.app/">Comenza!</a>
                    </p>
                    <br>
                    <p>Eventry</p>
                </td>
            </tr>
            <tr>
                <td colspan="3" style="font-size: 11px; text-alignt: center; padding-top: 15px">{{copyright}}</td>
            </tr>
        </tbody>
    </table>
</body>

</html>
